%form{action:'/search', id:'mbb_search_form'}
  .row.collapse
    .small-9.medium-9.columns
      %input{type:'text', name:'q', placeholder:'What Are You Looking For?', value:search_value}
    .small-3.medium-3.columns
      %input.postfix.small.button.expand{type:'submit', value: 'Search For It Here!'}