%form.form-search.form-inline{action:'/search', id:'mbb_search_form'}
  .input-group#search_input
    %input{type:'text', class:'form-control search-query', placeholder:'Search...', name:'q', value:params[:q].present? ? params[:q] : ''}
    %span.input-group-btn
      %button{type:'submit', class:'btn btn-primary'}
        Search