.row
  .large-8.large-centered.small-8.small-centered.medium-8.medium-centered.columns
    = render 'search_form'

    .row
      .large-8.medium-8.small-8.columns
        %h1#landing_message.landing_headers We bring online classifieds to a new level.

        %dl#landing_features
          %dt Search For What You Want
          %dd Instant search at the click of a button with image previews, reservations and more!
          %dt Be Rewarded For Successful Trades
          %dd You earn points as you complete transactions with fellow site members. More points, better reputation!
          %dt Manage Transactions
          %dd Schedule, confirm or cancel transactions easily!
          %dt 100% Free!
          %dd No hidden charges, we don't even ask for any payment mode!
      .large-4.small-4.medium-4.columns
        #landing_signup
          %h1.landing_headers Join Us!
          .landing_omniauth
            = link_to image_tag('sign_in_with_fb.png'), user_omniauth_authorize_path(:facebook)
          %p
            or if you do not want to use Facebook log-in, you can always just
            = link_to 'Sign Up', new_registration_path(:user)
