.row
  .small-10.medium-10.columns
    .items_form_pictures_picture
      - if f.object.id? && f.object.path?
        = image_tag f.object.path.medium_thumb.url, class:'th'
      - else
        = f.input :path, label:false
        = f.hidden_field :path_cache
  .small-2.medium-2.columns
    = f.link_to_remove 'x', title:'Remove Image'