.row
  .small-4.medium-4.medium-centered.small-centered.columns
    %h1 Edit Ad
    = render 'form'
    = link_to 'Show', user_item_path(current_user, @item)
    = link_to 'Back', user_items_path(current_user)
