#items_index
  - @items.each do |item|
    .items_index_item
      .row
        .medium-3.columns
          .items_index_photo
            = image_tag item.pictures.first.path.big_thumb.url if item.pictures.count > 0
        .medium-7.columns
          .items_index_details
            =link_to item.name, user_item_path(current_user, item), class:'item_name'
        .medium-2.columns
          .items_index_price
            = number_to_currency item.price, unit:'PHP', precision:price_precision(item.price)



