@import "foundation/_functions"

#items_index
  width: 85%
  margin: 0 auto

.items_index_item
  height: 200px
  overflow: hidden
  padding:  10px

.items_index_details a.item_name
  font-size: 1.5em
  display: block


.items_index_price
  float: right
  font-size: 1.5em
  color: #900

.items_form_pictures, .items_form_pictures_picture
  margin-bottom: 10px

.items_show_pictures
  margin-bottom: 5px

ul.item_pointers
  list-style: square
