@import "foundation/_functions"
@import "foundation/components/_global"

#items_index
  width: 85%
  margin: 0 auto

.items_index_item
  overflow: hidden
  padding:  10px

.items_index_details a.item_name
  font-size: 1.5em
  display: block


.items_index_additional_details
  float: right

.price
  font-size: 1.5em
  color: #900
  margin: 0

.posted_by
  margin: 0
  font-size: 0.75em

.item_index_action_links
  margin: 0
  padding: 0

.item_index_action_links li
  display: inline

.item_index_action_links li a
  font-size: 0.75em

.items_form_pictures, .items_form_pictures_picture
  margin-bottom: 10px

.items_show_pictures
  margin-bottom: 5px

ul.item_pointers
  list-style: square

ul.item_thumbs li
  display: inline-block
  @include clearfix

ul.item_thumbs li a
  display: inline-block

.ui-tooltip
  max-width: 350px
