#content
  padding-top: 50px

#landing_message
  font-size: 2rem

.landing_headers
  font-size: 2rem

#landing_features dd, #landing_signup p
  font-size: 0.75rem

.landing_omniauth
  margin-bottom: 1rem

#dashboard_stats li
  font-size: 0.85rem